.background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(123.84deg, #3C3D3F 0.32%, #36393D 49.45%, #4A4A4E 95.61%);
}