.info-drugndrop-right {
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    background: linear-gradient(90deg, #F18303 0%, #F94409 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}